<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <base href="/">
    <title>Webpack App</title>
    <link rel="stylesheet" type="text/css" href="<% htmlWebpackPlugin.files.css[0] %>">
</head>
<body>
    <div id="app">
        Hello World!
    </div>
    <script src="<% htmlWebpackPlugin.files.js[0] %>"></script>
</body>
</html>