// about.vue
<template>
<div>
    <h1>關於</h1>
    <button @click="handleRouter">跳轉到 user</button>
</div>
</template>

<script>
export default {
    methods: {
        handleRouter() {
            this.$router.push('/user/123456');
            // this.$router.go(-1); 往前或後多少步(頁面)
        }
    }
}
</script>