// index.vue
<template>
<div>
    <h1>首頁</h1>
    隨機增加:
    <Counter :number="number"></Counter>
    清單:
    <List :list="list"></List>
</div>
</template>

<script>
import Counter from './counter.vue'; // 使用 Counter 元件
import List from './list.vue'; // 使用 List 元件

export default {
    components: {
        Counter,
        List
    },
    data() {
        return {
            number: 0,
            list: []
        }
    },
    methods: {
        handleAddRandom(num) {
            this.number += num;
        },
        handleGetList(list) {
            
            let _this = this;
            let options = {
                type: 'GET',
                url: '../list.json',
                success(data, xml) {
                    _this.list = data;
                    console.log('success');
                },
                error(msg) {
                    console.log(msg);
                }
            }
            this.$ajax.ajax(options);
        },
    },
    // created: instance 建立完成後呼叫
    created() {
        this.$bus.on('add', this.handleAddRandom);
        this.$bus.on('get', this.handleGetList);
    },
    // 在 beforeDestroy 解除 $bus.on
    beforeDestroy() {
        this.$bus.off('add', this.handleAddRandom);
        this.$bus.off('get', this.handleGetList);
    },
}
</script>
