<template>
<div>
    {{ list }}
    <button @click="handleGetList">取得清單</button>
</div>
</template>

<script>
export default {
    props: {
        list: {
            type: Array,
            default: function () {
                return [];
            }
        }
    },
    methods: {
        handleGetList() {
            this.$bus.emit('get');
        }
    }
}
</script>
