<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Vue Lesson 05 - Shopping Cart</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>

    <div id="app" v-cloak>
        <template v-if="isListEmpty">
            <table>
                <thead>
                    <tr>
                        <th></th>
                        <th>商品名稱</th>
                        <th>商品類別</th>
                        <th>商品單價</th>
                        <th>購買數量</th>
                        <th>操作</th>
                    </tr>
                </thead>
                <tbody>
                    <template v-for="(categories, index) in list">
                        <tr v-for="(item, indexs) in categories">
                            <td>{{ item.id }}</td>
                            <td>{{ item.name }}</td>
                            <td>{{ item.category }}</td>
                            <td>{{ item.price }}</td>
                            <td>
                                <button @click="handleReduce(index, indexs)" :disabled="item.count === 0">-</button>
                                {{ item.count }}
                                <button @click="handleAdd(index, indexs)">+</button>
                            </td>
                            <td>
                                <button @click="handleRemove(index, indexs)">移除</button>
                                <button @click="handleSelect(index, indexs)">選擇</button>
                            </td>
                        </tr>
                    </template>
                    <tr>
                        <td colspan="5">
                            <div>總金額: $ {{ totalPrice }}</div>
                        </td>
                        <td colspan="1" class="select-all">
                            <button @click="handleSelectAll">全選</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </template>
        <div v-else>購物車是空的</div>
    </div>
    <script src="../vue.min.js"></script>
    <script src="index_sc2.js"></script>

</body>

</html>